<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>MyFirstProject</title>
</head>
<body>
    <a href="{% url 'movies_in_html' %}">영화</a>
    <br><p>글 갯수:{{movie_articles_num}}</p>
    <a href="{% url 'entertain_in_html' %}">예능</a>
    <br><p>글 갯수:{{entertain_articles_num}}</p>
    <a href="{% url 'drama_in_html' %}">드라마</a>
    <br><p>글 갯수:{{drama_articles_num}}</p>
    <a href="{% url 'new_i_will_use_in_html' %}">글쓰러가기</a>
</body>
</html>