html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(255, 210, 0);
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: rgb(255, 210, 0);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    width: 100%;
    background-color: white;
    color: rgb(255, 210, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.name span {
    font-size: 3rem;
    margin: 0 0.5rem;
}

.contents {
    color: white;
    font-weight: 600;
    margin: 1rem;
    border: 0.5rem white solid;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contents span {
    font-weight: 700;
}

.add {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.add a {
    font-weight: 500;
    font-size: 1.5rem;
    background-color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 5%;
}

a {
    text-decoration: none;
}